<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.8.17">
  <compounddef id="namespacearchitecture__name__mapper" kind="namespace" language="Python">
    <compoundname>architecture_name_mapper</compoundname>
      <sectiondef kind="var">
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a58fb9f626ce1a7ae390c3ebf16d7c99e" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.PARAM_RANDOM_ACTIVE</definition>
        <argsstring></argsstring>
        <name>PARAM_RANDOM_ACTIVE</name>
        <initializer>=  &apos;test/random_sense/active&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="23" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="23" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1ae483a062da5b345ed8d19fb131659652" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.PARAM_CHARGING_TIME</definition>
        <argsstring></argsstring>
        <name>PARAM_CHARGING_TIME</name>
        <initializer>=  &apos;test/charging_time&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="26" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="26" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1aa59c77c32412800a52ff15d1644f4b7c" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.TOPIC_CONNECTIONS</definition>
        <argsstring></argsstring>
        <name>TOPIC_CONNECTIONS</name>
        <initializer>=  &apos;/map/rooms&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="29" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="29" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1ac1dd8ba2f441d77900f06357b29a3243" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.ONTOLOGY_FILENAME</definition>
        <argsstring></argsstring>
        <name>ONTOLOGY_FILENAME</name>
        <initializer>=  &apos;topological_map.owl&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="34" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="34" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1acc930521568ad5810c688d82e37a1a4c" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.ONTOLOGY_IRI</definition>
        <argsstring></argsstring>
        <name>ONTOLOGY_IRI</name>
        <initializer>=  &apos;http://bnc/exp-rob-lab/2022-23&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="35" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="35" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a59391e451e60c799a682455e20799ec1" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.ROBOT_NAME</definition>
        <argsstring></argsstring>
        <name>ROBOT_NAME</name>
        <initializer>=  &apos;AlphaBot&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="36" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="36" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a363df6746c1a2d26d262bdb4964efb5d" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.STARTING_LOCATION</definition>
        <argsstring></argsstring>
        <name>STARTING_LOCATION</name>
        <initializer>=  &apos;E&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="37" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="37" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a2d2db53759ef93bb87b920e79ab120d1" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.CHARGING_LOCATION</definition>
        <argsstring></argsstring>
        <name>CHARGING_LOCATION</name>
        <initializer>=  &apos;E&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="38" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="38" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a9c526fef763b8c71a5c07777d4491b30" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.URGENCY_THRESHOLD</definition>
        <argsstring></argsstring>
        <name>URGENCY_THRESHOLD</name>
        <initializer>=  &apos;180&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="39" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="39" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a5353676d9f06226f9481f84d20f852e0" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.NODE_ROBOT_STATE</definition>
        <argsstring></argsstring>
        <name>NODE_ROBOT_STATE</name>
        <initializer>=  &apos;robot_state&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="45" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="45" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a18a0238cc5f53bea8e8b27cc4383afdb" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.NODE_SMACH_ROBOT</definition>
        <argsstring></argsstring>
        <name>NODE_SMACH_ROBOT</name>
        <initializer>=  &apos;smach_robot&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="47" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="47" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a15cea197e83119d886c4338d92f863e7" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.TOPIC_BATTERY_LOW</definition>
        <argsstring></argsstring>
        <name>TOPIC_BATTERY_LOW</name>
        <initializer>=  &apos;state/battery_level&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="54" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="54" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1a6655b3b488322d769ab90dfa9645ac34" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.SERVER_CHARGE</definition>
        <argsstring></argsstring>
        <name>SERVER_CHARGE</name>
        <initializer>=  &apos;state/charge_battery&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="56" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="56" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="namespacearchitecture__name__mapper_1acf3d1cdb1ad7b874c11dbb46aaa4346f" prot="public" static="no" mutable="no">
        <type>string</type>
        <definition>string architecture_name_mapper.PARAM_BATTERY_TIME</definition>
        <argsstring></argsstring>
        <name>PARAM_BATTERY_TIME</name>
        <initializer>=  &apos;test/battery_time&apos;</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="60" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="60" bodyend="-1"/>
      </memberdef>
      </sectiondef>
      <sectiondef kind="func">
      <memberdef kind="function" id="namespacearchitecture__name__mapper_1a89a559d690ed18a6f5148838a56816e4" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>def</type>
        <definition>def architecture_name_mapper.tag_log</definition>
        <argsstring>(msg, producer_tag)</argsstring>
        <name>tag_log</name>
        <param>
          <type>msg</type>
          <defname>msg</defname>
        </param>
        <param>
          <type>producer_tag</type>
          <defname>producer_tag</defname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
<para><verbatim>Function used to label each log with a producer tag.

    Args:
        msg (str): message to print
        producer_tag (str): name of the node producer
    Returns:
        string (str): msg tagged by producer
</verbatim> </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="66" column="1" bodyfile="utilities/surveillance_robot2/architecture_name_mapper.py" bodystart="66" bodyend="76"/>
      </memberdef>
      </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
<para><verbatim>.. module:: architecture_name_mapper
  :platform: Unix 
  :synopsis: Python module for the architecture name mapper
.. moduleauthor:: Mohammad Al Horany, 5271212@studenti.unige.it

In this module are defined the names of all parameters, nodes, topics, services and action servers of the architecture.
Also, it stores the data information about the ontology and the map.</verbatim> </para>
    </detaileddescription>
    <location file="utilities/surveillance_robot2/architecture_name_mapper.py" line="1" column="1"/>
  </compounddef>
</doxygen>
